



#header{
    position: relative;
    height: 450px;
    width: 70vw;
    max-width: calc( 1920px * 0.7);
    min-width: calc( 1440px * 0.7);
    margin-left: auto;
    margin-right: auto;
}

#waper{
    position: relative;
    height: auto;
    width: 70vw;
    max-width: calc( 1920px * 0.7);
    min-width: calc( 1440px * 0.7);
    margin-left: auto;
    margin-right: auto;
}


#footer{
    position: relative;
    height: auto;
    width: 70vw;
    max-width: calc( 1920px * 0.7);
    min-width: calc( 1440px * 0.7);
    margin-left: auto;
    margin-right: auto;
}